extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner BUSYBEE
    div.Message
      div.Title
        h3 Wake up to Learm More
        h1 Food For Devs
      span.Details Access the BUSYBEE Workspace
    div.NavButtons
      if isAuthenticated
        a(href="/user")
          div.NavButton Start learning!
      else
        a(href="/login")
          div.NavButton Log in